
.icon-analytics:before { content: '\e800'; } /* '' */
.icon-container:before { content: '\e801'; } /* '' */
.icon-drivers:before { content: '\e802'; } /* '' */
.icon-exodos:before { content: '\e803'; } /* '' */
.icon-next:before { content: '\e804'; } /* '' */
.icon-revert:before { content: '\e805'; } /* '' */
.icon-truck:before { content: '\e806'; } /* '' */